.courses-container{
    padding: 70px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.course-card{
    width: 500px;
    height: 100px;
    padding: 10px;
    margin: 20px;
    justify-content: space-between;
    border-radius: 2px;
    text-align: center;
}

.course-card>h2{
    padding-bottom: 50px;
}

.unenroll-btn {
    background-color: #ccc;
}

.page-title{
    margin: 30px;
}